# Utilisation API Pôle emploi
Source : https://github.com/etiennekintzler/api-offres-emploi

In [1]:
import requests
from requests.adapters import HTTPAdapter
from requests.packages.urllib3.util.retry import Retry
from requests.exceptions import HTTPError

import datetime
import time
import re
import pandas as pd

In [2]:
client_id="PAR_textmining_6361ebc3d9de749cdfb72158572fa975a0ba30e97e4e570957f187132bb2b361"
client_secret="d77c395663a600cb89716cd8a6c02ab9b2d6920fbdc520791bcff93578b2f093"

In [3]:
client_id="PAR_test_085218c044f273f3c6642fcf3a5019ec4c4f6f5c0388dc65141609db5ddf2b12"
client_secret="b903c0540ecb05b669cf5b1fe8d640ee42e46a1b340841a00d7e0656d41abaa1"

In [4]:
def get_token(client_id,client_secret):
    data = dict(
                grant_type="client_credentials",
                client_id=client_id,
                client_secret=client_secret,
                scope="api_offresdemploiv2 o2dsoffre application_{}".format(client_id),
            )

    headers = {"content-type": "application/x-www-form-urlencoded"}
    params = dict(realm="/partenaire")
    current_time = datetime.datetime.today()
    r = requests.post(
        url="https://entreprise.pole-emploi.fr/connexion/oauth2/access_token",
        headers=headers,
        data=data,
        params=params,
        timeout=60
            )
    try:
        r.raise_for_status()
    except HTTPError as error:
        if r.status_code == 400:
            complete_message = str(error) + "\n" + str(r.json())
            raise HTTPError(complete_message)
        else:
            raise error
    else:
        token = r.json()
        token["expires_at"] = current_time + datetime.timedelta(
            seconds=token["expires_in"]
        )
        
        return token

In [5]:
token=get_token(client_id,client_secret)
token

{'access_token': '4E1LqUq-gl7YJAGgMw4QrIRBJkE',
 'scope': 'application_PAR_test_085218c044f273f3c6642fcf3a5019ec4c4f6f5c0388dc65141609db5ddf2b12 api_offresdemploiv2 o2dsoffre',
 'token_type': 'Bearer',
 'expires_in': 1499,
 'expires_at': datetime.datetime(2024, 1, 6, 20, 37, 46, 888046)}

In [6]:
def get_hearders(token):
    headers = {
            "Authorization": "Bearer {}".format(token["access_token"])
        }
    return headers

In [7]:
# Valeurs constantes

OFFRES_DEMPLOI_V2_BASE = "https://api.emploi-store.fr/partenaire/offresdemploi/v2"
REFERENTIEL_ENDPOINT = "{}/referentiel".format(OFFRES_DEMPLOI_V2_BASE)
SEARCH_ENDPOINT = "{}/offres/search".format(OFFRES_DEMPLOI_V2_BASE)

In [8]:
# 'Réferentiel' available: domaine, appellations (domaines professionnelles ROME), metiers, themes, continents,
#         pays, regions, departements , communes , secteursActivites, naturesContrats,  typesContrats, niveauxFormations,
#         permis, langues

def referentiel(ref):
    
    r = requests.Session().get(
                url="{}/{}".format(REFERENTIEL_ENDPOINT, ref),
                params= dict(realm="/partenaire"),
                headers=get_hearders()
            )

    try:
        r.raise_for_status()
    except Exception as e:
        raise e
    else:
        return r.json()

In [9]:
def search(params=None):
    print('Requête avec les params {}'.format(params))
    r = requests.Session().get(
            url=SEARCH_ENDPOINT,
            params=params,
            headers=get_hearders(token)
        )

    silent_http_errors=False
    try:
        r.raise_for_status()
    except HTTPError as error:
        if r.status_code == 400:
            complete_message = str(error) + "\n" + r.json()["message"]
            if silent_http_errors:
                print(complete_message)
            else:
                raise HTTPError(complete_message)
        else:
            if silent_http_errors:
                print(str(error))
            else:
                raise error
    else:
        found_range = re.search(
            pattern="offres (?P<first_index>\d+)-(?P<last_index>\d+)/(?P<max_results>\d+)",
            string=r.headers["Content-Range"],
        ).groupdict()
        out = r.json()
        out.update({"Content-Range": found_range})
        return out

# Exemple

In [10]:
start_dt = datetime.datetime(2020, 3, 1, 12, 30)
end_dt = datetime.datetime.today()
params = {

    "motsCles": "data science",
    'minCreationDate': start_dt.strftime("%Y-%m-%dT%H:%M:%SZ"),
    'maxCreationDate': end_dt.strftime("%Y-%m-%dT%H:%M:%SZ")
}

ex_search=search(params)

Requête avec les params {'motsCles': 'data science', 'minCreationDate': '2020-03-01T12:30:00Z', 'maxCreationDate': '2024-01-06T20:12:48Z'}

In [11]:
ex_search

{'resultats': [{'id': '166MPJT',
   'intitule': 'Analyste en Business Intelligence et Data Science (H/F)',
   'description': "Aussitôt Bon, c'est la nouvelle manière de manger sainement et rapidement. Une box toutes les semaines avec des produits frais, locaux et sains. Aussitôt Bon s'adresse à ceux qui n'ont pas le temps de cuisiner, mais qui aiment bien manger.\nNous avons fondé l'entreprise, il y a maintenant 2 ans. Et elle est en pleine croissance ! En deux années seulement Aussitôt Bon s'est imposé dans le secteur de la FoodTech. Une croissance à deux chiffres tous les mois !\n\nNotre seul mantra: régaler un maximum nos clients, sans concession\n\nNous recherchons un Analyste en Business Intelligence et Data Science talentueux en CDI pour rejoindre notre équipe dynamique. Le candidat retenu jouera un rôle clé dans la création de reportings analytics réguliers, l'amélioration des KPIs, la conception de tableaux de bord interactifs, et la production de rapports détaillés pour soutenir nos décisions stratégiques. Si vous êtes passionné par l'utilisation de données pour générer des insights significatifs et souhaitez travailler avec des outils de pointe, cette opportunité est faite pour vous.\n\n\nResponsabilités :\n\n- Création de Reportings Analytics : Concevoir et générer des rapports analytiques réguliers en utilisant des outils tels que Power BI et Tableau pour informer et orienter les décisions stratégiques.\n- Optimisation des KPIs et des Reportings : Identifier des opportunités d'optimisation des Key Performance Indicators (KPIs) et des reportings existants. Proposer des recommandations stratégiques basées sur une analyse approfondie des données, en utilisant des langages tels que Python et R.\n- Interrogation des Bases de Données : Effectuer des requêtes complexes sur des bases de données variées telles que MySQL, Postgresql et MongoDB pour extraire des données pertinentes et les charger dans des outils décisionnels.\n- Rapports d'Aide à la Prise de Décision : Créer des rapports détaillés pour faciliter la prise de décision, en utilisant des compétences avancées en reporting, des langages de programmation comme Python et R, et des outils de visualisation tels que Power BI et Tableau.\n- Utilisation de Logiciels Spécialisés : Appliquer des compétences avancées dans des logiciels spécialisés tels que SAS pour mener des analyses statistiques complexes et produire des résultats significatifs.\n- Tableaux de Bord Interactifs : Concevoir et développer des tableaux de bord interactifs en utilisant des outils tels que Power BI et Tableau pour présenter de manière visuelle les insights stratégiques.\n- Maîtrise des Outils MS Office : Utiliser efficacement les outils MS Office, y compris Word et Excel, pour créer des documents et des rapports professionnels complémentaires aux analyses.\n\n\nQualifications Requises :\n\nExpérience démontrée dans la création de reportings et de tableaux de bord analytiques.\nCompétences avancées en langages de programmation, notamment Python et R.\nExpérience dans l'interrogation de bases de données, y compris MySQL, Postgresql et MongoDB.\nConnaissance approfondie des outils de BI tels que Power BI et Tableau.\nMaîtrise des logiciels spécialisés comme SAS pour l'analyse statistique.\nExcellente maîtrise des outils MS Office, particulièrement Word et Excel.",
   'dateCreation': '2023-12-18T21:47:48.000Z',
   'dateActualisation': '2024-01-06T00:20:45.000Z',
   'lieuTravail': {'libelle': '75 - PARIS 01',
    'latitude': 48.859,
    'longitude': 2.347,
    'codePostal': '75001',
    'commune': '75101'},
   'romeCode': 'M1805',
   'romeLibelle': 'Études et développement informatique',
   'appellationlibelle': 'Analyste décisionnel - Business Intelligence',
   'entreprise': {'nom': 'JOURNEY', 'entrepriseAdaptee': False},
   'typeContrat': 'CDI',
   'typeContratLibelle': 'Contrat à durée indéterminée',
   'natureContrat': 'Contrat travail',
   'experienceExige': 'E',
   'experienceLibelle': '1 an',
   'salaire': {'libelle': 'Annuel de 32000,00 Euros à 35000,00 Euros sur 13 mois',
    'complement1': 'Primes',
    'complement2': 'Pc portable'},
   'dureeTravailLibelle': '39H Travail en journée',
   'dureeTravailLibelleConverti': 'Temps plein',
   'alternance': False,
   'contact': {},
   'nombrePostes': 1,
   'accessibleTH': False,
   'deplacementCode': '1',
   'deplacementLibelle': 'Jamais',
   'qualificationCode': '8',
   'qualificationLibelle': 'Agent de maîtrise',
   'codeNAF': '47.11B',
   'secteurActivite': '47',
   'secteurActiviteLibelle': "Commerce d'alimentation générale",
   'qualitesProfessionnelles': [{'libelle': 'Travailler en équipe',
     'description': "Capacité à travailler et à se coordonner avec les autres au sein de l'entreprise pour réaliser les objectifs fixés."},
    {'libelle': "Faire preuve d'autonomie",
     'description': "Capacité à prendre en charge son activité sans devoir être encadré de façon continue (le cas échéant, à solliciter les autres acteurs de l'entreprise)."},
    {'libelle': 'Faire preuve de rigueur et de précision',
     'description': "Capacité à réaliser des tâches en suivant avec exactitude les règles, les procédures, les instructions qui ont été fournies, sans réaliser d'erreur et à transmettre clairement des informations. Se montrer ponctuel et respectueux des règles de savoir-vivre usuelles."}],
   'origineOffre': {'origine': '1',
    'urlOrigine': 'https://candidat.pole-emploi.fr/offres/recherche/detail/166MPJT'},
   'offresManqueCandidats': False},
  {'id': '167CRZR',
   'intitule': 'Data scientist / Alternance (H/F)',
   'description': "Au sein du Laboratoire Vekia, tu participes au développement des algorithmes numériques au cœur des motorisations Vekia, s'appuyant sur le Machine Learning, la Recherche Opérationnelle et l'Apprentissage par Renforcement.\nTu participeras à l'ensemble du processus de conception et développement : de l'apport de nouvelles idées et de la veille scientifique, à l'implémentation industrielle, en passant par le prototypage et les simulations numériques.\nEn synthèse, les principales missions du poste sont :\n-\tParticipation à la vie et à l'animation de l'équipe (séminaires, reading groups, brainstormings...)\n-\tDéveloppement de pipelines de Machine Learning liées aux problématiques clients\n-\tPrototypage de nouveaux algorithmes et simulations de performances\n-\tImplémentation industrielle des algorithmes au sein des toolkits Vekia\n-\tVeille scientifique\n\nQuelles sont les principales technologies utilisées au sein du Lab ?\n-\tPython et son écosystème (Numpy/Scipy/Pandas/Tensorflow...)\n-\tScala\n-\tSpark\n-\tSQL\n-\tGit\n\nTon profil :\n-\tTu es actuellement en Master II d'une formation ingénieur, avec une orientation forte sur les sujets Machine Learning et data sciences\n-\tTu es force de proposition\n-\tTu as bon niveau en anglais \n-\tIdéalement tu as une appétence et / ou expérience dans le secteur de la supplychain\n\nBref, si en plus tu as envie de travailler chez un éditeur logiciel, que tu aimes l'aventure startup, l'utilisation pointue de la datascience et du Machine Learning et enfin que le monde de la supplychain t'intéresse, tu es fait pour travailler avec nous !\n\nLes + VEKIA : \n-\tUn parcours d'intégration pour découvrir VEKIA\n-\tEnvironnement convivial\n-\tHappy Team (évènements internes conviviaux et interactifs)\n-\tTélétravail / mode hybride\n\nNous rejoindre, c'est aussi s'épanouir en étant acteur de notre développement et en partageant des valeurs communes :\n-\tTeam player, tu aimes le travail en équipe et fais preuve de solidarité et d'ouverture aux autres.\n-\tAmbitieux pour tes projets et ton entreprise, tu as un esprit aventurier et aimes relever des défis en faisant preuve d'engagement et de ténacité dans tes actes.\n-\tFun & serious, tu aimes t'investir tout en privilégiant la convivialité et le plaisir.\n-\tHumble et honnête, tu connais tes qualités et tes défauts et recherches continuellement à progresser.\n\nLe type de contrat Apprentissage ou de Professionnalisation sera déterminé selon l'Ecole partenaire et le salaire brut sera fixé par des grilles conventionnelles selon la situation du candidat;",
   'dateCreation': '2024-01-04T10:41:58.000Z',
   'dateActualisation': '2024-01-06T19:23:24.000Z',
   'lieuTravail': {'libelle': '59 - LILLE',
    'latitude': 50.630992,
    'longitude': 3.045433,
    'codePostal': '59000',
    'commune': '59350'},
   'romeCode': 'M1403',
   'romeLibelle': 'Études et prospectives socio-économiques',
   'appellationlibelle': 'Data scientist',
   'entreprise': {'nom': 'VEKIA SAS', 'entrepriseAdaptee': False},
   'typeContrat': 'CDD',
   'typeContratLibelle': 'Contrat à durée déterminée - 12 Mois',
   'natureContrat': 'Cont. professionnalisation',
   'experienceExige': 'D',
   'experienceLibelle': 'Débutant accepté',
   'formations': [{'codeFormation': '31026',
     'domaineLibelle': 'data science',
     'niveauLibelle': 'Bac+5 et plus ou équivalents',
     'exigence': 'S'}],
   'langues': [{'libelle': 'Anglais', 'exigence': 'S'}],
   'competences': [{'code': '109527',
     'libelle': 'Adapter les outils de traitement statistique de données',
     'exigence': 'E'},
    {'code': '109528',
     'libelle': "Rédiger l'information produite",
     'exigence': 'E'},
    {'code': '109529',
     'libelle': 'Présenter et diffuser les résultats des études réalisées',
     'exigence': 'E'},
    {'code': '109542', 'libelle': 'Réaliser une étude', 'exigence': 'E'},
    {'code': '300119',
     'libelle': 'Réaliser une veille documentaire',
     'exigence': 'E'}],
   'salaire': {'libelle': 'Mensuel de 1136,00 Euros sur 12 mois'},
   'dureeTravailLibelle': '35H Travail en journée',
   'dureeTravailLibelleConverti': 'Temps plein',
   'alternance': True,
   'contact': {},
   'nombrePostes': 1,
   'accessibleTH': False,
   'deplacementCode': '2',
   'deplacementLibelle': 'Ponctuels Zone nationale',
   'qualificationCode': '7',
   'qualificationLibelle': 'Technicien',
   'codeNAF': '58.29C',
   'secteurActivite': '58',
   'secteurActiviteLibelle': 'Édition de logiciels applicatifs',
   'qualitesProfessionnelles': [{'libelle': 'Prendre des initiatives et être force de proposition',
     'description': 'Capacité à initier, imaginer des propositions nouvelles pour résoudre les problèmes identifiés ou améliorer une situation. Être proactif.'},
    {'libelle': 'Travailler en équipe',
     'description': "Capacité à travailler et à se coordonner avec les autres au sein de l'entreprise pour réaliser les objectifs fixés."}],
   'origineOffre': {'origine': '1',
    'urlOrigine': 'https://candidat.pole-emploi.fr/offres/recherche/detail/167CRZR'},
   'offresManqueCandidats': False},
  {'id': '166SVWH',
   'intitule': 'Data Scientist junior (H/F)',
   'description': "Lunalogic est un cabinet de conseil créé en 2000, présent à Paris, Londres, Hong-Kong et Casablanca spécialisé sur l'ensemble de la chaîne de valeur financière. Les expertises du cabinet sont reconnues par les plus grands établissements financiers et reposent sur une politique de recrutement sélective (grandes écoles d'ingénieurs et universités reconnues). Ces expertises recouvrent :\n- Les Risques et l'Analyse quantitative \n- La Data science et les nouvelles technologies au service de la finance\nEngagés dans une démarche de développement, de qualité et de performance, nous renforçons notre pôle Finance et recrutons :\n\nUn(e) Consultant(e) Data Scientist \n\nNous recherchons un(e) Data Scientist junior talentueux et passionné(e) pour rejoindre une institution financière.\nLe profil recherché pour la mission a validé un diplôme d'ingénieur Science des données et de décision.\nLes compétences requises pour ce poste sont :\n-             Expérience démontrée en data science (à minima un stage en lien avec le diplôme obtenu)\n-             Solides compétences en IA (Intelligence artificielle)\n-             Compétences en matière de blockchains et de Smart contracts\n-             Anglais courant \n\nPoste en CDI à pourvoir immédiatement. \nRémunération attractive selon profil.\n\nVous souhaitez-vous investir pleinement au sein d'une société en pleine évolution en intégrant un poste à forte valeur ajoutée ?\nDans ce cas, rejoignez-nous en nous adressant votre candidature dès à présent sous la référence : \nSi vous êtes intéressé, merci de nous adresser votre CV",
   'dateCreation': '2023-12-22T15:54:51.000Z',
   'dateActualisation': '2024-01-06T19:19:20.000Z',
   'lieuTravail': {'libelle': '75 - PARIS 02',
    'latitude': 48.867745,
    'longitude': 2.341157,
    'codePostal': '75002',
    'commune': '75102'},
   'romeCode': 'M1403',
   'romeLibelle': 'Études et prospectives socio-économiques',
   'appellationlibelle': 'Data scientist',
   'entreprise': {'nom': 'LUNALOGIC',
    'description': "LUNALOGIC, cabinet de conseil et services spécialisés en techniques quantitatives dans le domaine de la finance, de l énergie et de l assurance accompagne  les plus grandes institutions financières à Paris et à l'international.",
    'url': 'http://www.lunalogic.com/',
    'entrepriseAdaptee': False},
   'typeContrat': 'CDI',
   'typeContratLibelle': 'Contrat à durée indéterminée',
   'natureContrat': 'Contrat travail',
   'experienceExige': 'D',
   'experienceLibelle': 'Débutant accepté',
   'formations': [{'niveauLibelle': 'Bac+5 et plus ou équivalents',
     'commentaire': 'Ingénieur Sciences des données',
     'exigence': 'E'}],
   'langues': [{'libelle': 'Anglais', 'exigence': 'E'}],
   'competences': [{'libelle': 'Compétences en Blockchain et Smart Contracts',
     'exigence': 'E'},
    {'libelle': 'Compétences en Data Science', 'exigence': 'E'},
    {'libelle': 'Compétences en IA', 'exigence': 'E'}],
   'salaire': {'libelle': 'Annuel de 40000,00 Euros à 46000,00 Euros sur 12 mois'},
   'dureeTravailLibelle': '35H Travail en journée',
   'dureeTravailLibelleConverti': 'Temps plein',
   'alternance': False,
   'contact': {'nom': 'LUNALOGIC - Mme saquena LOF',
    'coordonnees1': 'Pour postuler, utiliser le lien suivant : https://candidat.pole-emploi.fr/offres/recherche/detail/166SVWH',
    'courriel': 'Pour postuler, utiliser le lien suivant : https://candidat.pole-emploi.fr/offres/recherche/detail/166SVWH'},
   'nombrePostes': 1,
   'accessibleTH': False,
   'qualificationCode': '9',
   'qualificationLibelle': 'Cadre',
   'codeNAF': '62.02A',
   'secteurActivite': '62',
   'secteurActiviteLibelle': 'Conseil en systèmes et logiciels informatiques',
   'origineOffre': {'origine': '1',
    'urlOrigine': 'https://candidat.pole-emploi.fr/offres/recherche/detail/166SVWH'},
   'offresManqueCandidats': False},
  {'id': '9145026',
   'intitule': 'Ingénieur.e de recherche en Data Science & Recherche Opératoire (H/F)',
   'description': 'Le Datalab de Saint-Gobain regroupe une quinzaine de data scientists qui travaillent pour l\'ensemble des activités du Groupe. Il intervient sur les grands enjeux de transformation digitale du Groupe, avec d\'une part des projets liés à l\'Industrie 4.0 (amélioration de la production industrielle, optimisation de la supply chain), et d\'autre part des projets liés à l\'exploitation des données commerciales (algorithmes pour les plateformes de e-commerce et de développement des ventes).\n\nAu sein du Datalab, vos missions seront les suivantes :\n\n * Collaborer avec les activités et entités du Groupe pour cadrer leurs besoins et mener des projets sur des thématiques aussi diverses que la production, la supply chain, le marketing ou le développement commercial.\n * Réaliser des analyses et des modélisations mettant en œuvre des techniques de machine learning (supervisés et non supervisés) ou d\'optimisation.\n * Construire des modèles, les intégrer dans des prototypes d\'application et être à même d\'accompagner leur industrialisation auprès du métier.\n * Communiquer efficacement avec vos clients pour partager vos analyses et résultats à l\'aide de visualisations interactives, de présentations, de documents ou de notebooks.\n * Être à l\'affût de nouvelles méthodes de machine learning ou d\'optimisation et les partager avec le reste du Datalab lors de nos séminaires internes.\n\nVous serez responsable du cadrage, des propositions, de la maîtrise des délais et des ressources sur les études que vous aurez à mener. Vous possédez de bonnes capacités relationnelles pour mener des projets dans une ambiance collaborative et pour établir des contacts internes au Groupe Saint-Gobain (centres R&D, usines, directions industrielles, marketing, etc.) et externes (start-ups, meet-ups, communautés de data science).\n\nDes déplacements de courte durée sont à prévoir en France et à l\'étranger, dans les lieux d\'activité du groupe.\n* Docteur ou docteur-ingénieur (grande école ou universitaire) en Mathématiques ou Statistiques, avec une solide formation en analyse de données et en optimisation.\n * Vous maîtrisez l\'un des langages suivants : Python, R, C++.\n * Vous voulez appliquer vos savoirs à des problématiques industrielles.\n * Vous êtes une personne synthétique, claire et avez de bonnes qualités de communication écrite et orale.\n * Vous avez l\'esprit d\'équipe : vous avez un bon relationnel et aimez partager votre savoir.\n * Vous faites spontanément de la veille et aimez tester les dernières nouveautés.\n * La maîtrise de l\'anglais est indispensable pour le poste.\n * Des connaissances en réduction de modèle, modèles hybrides ou modèles "data-driven" seraient un plus.',
   'dateCreation': '2024-01-05T12:04:41.000Z',
   'dateActualisation': '2024-01-05T12:04:41.000Z',
   'lieuTravail': {'libelle': '93 - AUBERVILLIERS',
    'latitude': 48.91217,
    'longitude': 2.384455,
    'codePostal': '93300',
    'commune': '93001'},
   'romeCode': 'K2402',
   'romeLibelle': "Recherche en sciences de l'univers, de la matière et du vivant",
   'appellationlibelle': 'Ingénieur / Ingénieure de recherche scientifique',
   'entreprise': {'nom': 'Saint Gobain France',
    'description': "Saint-Gobain Research Paris est l'un des huit grands centres de recherche de Saint-Gobain. Basé en région parisienne, ses grands domaines de recherche sont liés au verre, aux couches et revêtements de surface, aux matériaux de construction et de haute performance pour les marchés de la construction durable, de la mobilité durable et de l'industrie durable. Préparer le futur en imaginant les produits et procédés de demain, tel est le quotidien de ses équipes de recherche.",
    'entrepriseAdaptee': False},
   'typeContrat': 'CDI',
   'typeContratLibelle': 'Contrat à durée indéterminée',
   'natureContrat': 'Contrat travail',
   'experienceExige': 'D',
   'experienceLibelle': 'Débutant accepté',
   'formations': [{'codeFormation': '11054',
     'domaineLibelle': 'mathématiques',
     'niveauLibelle': 'Bac+5 et plus ou équivalents',
     'exigence': 'S'},
    {'codeFormation': '11036',
     'domaineLibelle': 'statistique',
     'niveauLibelle': 'Bac+5 et plus ou équivalents',
     'exigence': 'S'}],
   'langues': [{'libelle': 'Anglais', 'exigence': 'E'}],
   'salaire': {},
   'alternance': False,
   'nombrePostes': 1,
   'accessibleTH': False,
   'qualificationCode': '9',
   'qualificationLibelle': 'Cadre',
   'codeNAF': '72.19Z',
   'secteurActivite': '72',
   'secteurActiviteLibelle': 'Recherche-développement en autres sciences physiques et naturelles',
   'origineOffre': {'origine': '2',
    'urlOrigine': 'https://candidat.pole-emploi.fr/offres/recherche/detail/9145026',
    'partenaires': [{'nom': 'BROADBEAN',
      'url': 'https://www.aplitrak.com/?adid=U0dSLjYyNTU1LjY3MDZAc2FpbnRnb2JhaW4uYXBsaXRyYWsuY29t',
      'logo': 'https://www.pole-emploi.fr/static/img/partenaires/broadbean80.png'}]}},
  {'id': '9093640',
   'intitule': 'Manager Data Science (H/F)',

In [12]:
import sqlite3

In [13]:
conn = sqlite3.connect('job_mining.db')

In [14]:
cursor = conn.cursor()
cursor.execute('''
CREATE TABLE IF NOT EXISTS LieuTravail_Dimension (
    id TEXT PRIMARY KEY,
    libelle TEXT,
    latitude REAL,
    longitude REAL,
    codePostal TEXT,
    commune TEXT
)
''')

In [15]:
cursor.execute('''
CREATE TABLE IF NOT EXISTS Entreprise_Dimension (
    id TEXT PRIMARY KEY,
    nom TEXT,
    adaptee INTEGER
)
''')

In [16]:
cursor.execute('''
CREATE TABLE IF NOT EXISTS Contrat_Dimension (
    id TEXT PRIMARY KEY,
    typeContrat TEXT,
    typeContratLibelle TEXT,
    natureContrat TEXT,
    dureeTravailLibelle TEXT,
    dureeTravailLibelleConverti TEXT,
    alternance INTEGER
)
''')

In [17]:
cursor.execute('''
    CREATE TABLE IF NOT EXISTS OrigineOffre_Dimension (
        id TEXT PRIMARY KEY,
        origine TEXT,
        urlOrigine TEXT
    )
''')

In [18]:
cursor.execute('''
    CREATE TABLE IF NOT EXISTS Qualification_Dimension (
        id TEXT PRIMARY KEY,
        qualification TEXT
    )
''')

In [19]:
# Création de la table de faits (OffresEmploi_Faits)
cursor.execute('''
    CREATE TABLE IF NOT EXISTS OffresEmploi_Faits (
        id TEXT PRIMARY KEY,
        dateCreation TEXT,
        dateActualisation TEXT,
        nombrePostes INTEGER,
        salaireLibelle TEXT,
        lieuTravailId TEXT REFERENCES LieuTravail_Dimension(id),
        entrepriseId TEXT REFERENCES Entreprise_Dimension(id),
        contratId TEXT REFERENCES Contrat_Dimension(id),
        qualificationId TEXT REFERENCES Qualification_Dimension(id),
        origineOffreId TEXT REFERENCES OrigineOffre_Dimension(id)
    )
''')

In [20]:
# Commit et fermeture de la connexion
conn.commit()
conn.close()

## Chargement table  --- LieuTravail_Dimension

In [21]:
data = {
    'id': [],
    'libelle': [],
    'latitude': [],
    'longitude': [],
    'codePostal': [],
    'commune': []
}

for job_posting in ex_search.get('resultats', []):
    lieu_travail = job_posting.get('lieuTravail', {})
    
    data['id'].append(lieu_travail.get('libelle', ''))
    data['libelle'].append(lieu_travail.get('libelle', ''))
    data['latitude'].append(lieu_travail.get('latitude', ''))
    data['longitude'].append(lieu_travail.get('longitude', ''))
    data['codePostal'].append(lieu_travail.get('codePostal', ''))
    data['commune'].append(lieu_travail.get('commune', ''))

# Create a DataFrame
df_lieu = pd.DataFrame(data)
df_lieu = df_lieu.drop_duplicates(subset=['libelle'])
df_lieu = df_lieu.reset_index(drop=True)
df_lieu['id'] = df_lieu.index + 1
df_lieu.head()

   id               libelle   latitude  longitude codePostal commune
0   1         75 - PARIS 01  48.859000   2.347000      75001   75101
1   2            59 - LILLE  50.630992   3.045433      59000   59350
2   3         75 - PARIS 02  48.867745   2.341157      75002   75102
3   4    93 - AUBERVILLIERS  48.912170   2.384455      93300   93001
4   5  13 - AIX EN PROVENCE  43.541369   5.406124      13080   13001

## Chargement de la table --- Entreprise_Dimension

In [22]:
data_entreprises = {
    'id': [],
    'nom': [],
    'adaptee': []
}

for job_posting in ex_search.get('resultats', []):
    entreprise = job_posting.get('entreprise', {})
    
    data_entreprises['id'].append(entreprise.get('nom', ''))
    data_entreprises['nom'].append(entreprise.get('nom', ''))
    data_entreprises['adaptee'].append(entreprise.get('entrepriseAdaptee', ''))

# Create a DataFrame for entreprises
df_entreprises = pd.DataFrame(data_entreprises)
df_entreprises = df_entreprises.drop_duplicates(subset=['nom'])
df_entreprises = df_entreprises.reset_index(drop=True)
df_entreprises['id'] = df_entreprises.index + 1
df_entreprises.head()

   id                  nom  adaptee
0   1              JOURNEY    False
1   2            VEKIA SAS    False
2   3            LUNALOGIC    False
3   4  Saint Gobain France    False
4   5                         False

## Chargement de la table --- Contrat_Dimension

In [23]:
data_contrat = {
    'id': [],
    'typeContrat': [],
    'typeContratLibelle': [],
    'natureContrat': [],
    'dureeTravailLibelle': [],
    'dureeTravailLibelleConverti': [],
    'alternance': []
}

for job_posting in ex_search.get('resultats', []):
    contrat = job_posting
    
    data_contrat['id'].append(contrat.get('id', ''))
    data_contrat['typeContrat'].append(contrat.get('typeContrat', ''))
    data_contrat['typeContratLibelle'].append(contrat.get('typeContratLibelle', ''))
    data_contrat['natureContrat'].append(contrat.get('natureContrat', ''))
    data_contrat['dureeTravailLibelle'].append(contrat.get('dureeTravailLibelle', ''))
    data_contrat['dureeTravailLibelleConverti'].append(contrat.get('dureeTravailLibelleConverti', ''))
    data_contrat['alternance'].append(contrat.get('alternance', ''))

# Create a DataFrame for contrat
df_contrat = pd.DataFrame(data_contrat)
df_contrat['id'] = df_contrat.index + 1
df_contrat.head()

,id,typeContrat,typeContratLibelle,natureContrat,dureeTravailLibelle,dureeTravailLibelleConverti,alternance
0,1,CDI,Contrat à durée indéterminée,Contrat travail,39H Travail en journée,Temps plein,False
1,2,CDD,Contrat à durée déterminée - 12 Mois,Cont. professionnalisation,35H Travail en journée,Temps plein,True
2,3,CDI,Contrat à durée indéterminée,Contrat travail,35H Travail en journée,Temps plein,False
3,4,CDI,Contrat à durée indéterminée,Contrat travail,,,False
4,5,CDI,Contrat à durée indéterminée,Contrat travail,,,False

## Chargement de la table --- OrigineOffre_Dimension

In [24]:
data_origine = {
    'id': [],
    'origine': [],
    'urlOrigine': []
}

for job_posting in ex_search.get('resultats', []):
    origine_offre = job_posting.get('origineOffre', {})
    
    data_origine['id'].append(origine_offre.get('id', ''))
    data_origine['origine'].append(origine_offre.get('origine', ''))
    data_origine['urlOrigine'].append(origine_offre.get('urlOrigine', ''))

# Create a DataFrame for origine
df_origine = pd.DataFrame(data_origine)
df_origine['id'] = df_origine.index + 1
df_origine

   id origine                                         urlOrigine
0   1       1  https://candidat.pole-emploi.fr/offres/recherc...
1   2       1  https://candidat.pole-emploi.fr/offres/recherc...
2   3       1  https://candidat.pole-emploi.fr/offres/recherc...
3   4       2  https://candidat.pole-emploi.fr/offres/recherc...
4   5       2  https://candidat.pole-emploi.fr/offres/recherc...
5   6       2  https://candidat.pole-emploi.fr/offres/recherc...
6   7       2  https://candidat.pole-emploi.fr/offres/recherc...
7   8       2  https://candidat.pole-emploi.fr/offres/recherc...
8   9       2  https://candidat.pole-emploi.fr/offres/recherc...

## Chargement de la table --- Qualification_Dimension

In [25]:
data_qualification = {
    'id': [],
    'qualification': []
}
for job_posting in ex_search.get('resultats', []):
    data_qualification['id'].append(job_posting.get('id', ''))
    data_qualification['qualification'].append(job_posting.get('qualificationLibelle', ''))

# Create a DataFrame for qualification
df_qualification = pd.DataFrame(data_qualification)
df_qualification = df_qualification.drop_duplicates(subset=['qualification'])
df_qualification = df_qualification.reset_index(drop=True)
df_qualification['id'] = df_qualification.index + 1
df_qualification

   id      qualification
0   1  Agent de maîtrise
1   2         Technicien
2   3              Cadre
3   4

## Chargement de la table --- OffresEmploi_Faits

In [26]:
import sqlite3
import pandas as pd

# Extracting data for all job postings
data = {
    'id': [],
    'dateCreation': [],
    'dateActualisation': [],
    'nombrePostes': [],
    'salaireLibelle': [],
    'lieuTravailId': [],
    'entrepriseId': [],
    'contratId': [],
    'qualificationId': [],
    'origineOffreId': []
}

for job_posting in ex_search.get('resultats', []):
    data['id'].append(job_posting.get('id', ''))
    data['dateCreation'].append(job_posting.get('dateCreation', ''))
    data['dateActualisation'].append(job_posting.get('dateActualisation', ''))
    data['nombrePostes'].append(job_posting.get('nombrePostes', ''))
    data['salaireLibelle'].append(job_posting.get('salaire', {}).get('libelle', ''))
    data['lieuTravailId'].append(job_posting.get('lieuTravail', {}).get('libelle', ''))
    data['entrepriseId'].append(job_posting.get('entreprise', {}).get('nom', ''))
    data['contratId'].append(job_posting.get('typeContratLibelle', ''))
    data['qualificationId'].append(job_posting.get('qualificationLibelle', ''))
    data['origineOffreId'].append(job_posting.get('origineOffre', {}).get('origine', ''))

# Create a DataFrame
df_offreF = pd.DataFrame(data)

In [27]:
df_lieu_selection = df_lieu[['id', 'libelle']]
df_entreprises_selection = df_entreprises[['id', 'nom']]
df_contrat_selection = df_contrat[['id', 'typeContratLibelle']]
df_origine_selection = df_origine[['id', 'origine']]
df_qualification_selection = df_qualification[['id', 'qualification']]

#LIEU
df_offreF = pd.merge(df_offreF, df_lieu_selection, how='left', left_on='lieuTravailId', right_on='libelle')
df_offreF = df_offreF.drop(columns=['lieuTravailId','libelle'])
df_offreF = df_offreF.rename(columns={'id_y': 'lieuTravailId'})
df_offreF = df_offreF.rename(columns={'id_x': 'id'})

#ENTREPRISE
df_offreF = pd.merge(df_offreF, df_entreprises_selection, how='left', left_on='entrepriseId', right_on='nom')
df_offreF = df_offreF.drop(columns=['entrepriseId','nom'])
df_offreF = df_offreF.rename(columns={'id_y': 'entrepriseId'})
df_offreF = df_offreF.rename(columns={'id_x': 'id'})

#CONTRAT
df_offreF = pd.merge(df_offreF, df_contrat_selection, how='left', left_on='contratId', right_on='typeContratLibelle')
df_offreF = df_offreF.drop(columns=['contratId','typeContratLibelle'])
df_offreF = df_offreF.rename(columns={'id_y': 'contratId'})
df_offreF = df_offreF.rename(columns={'id_x': 'id'})

#ORIGINE
df_offreF['origineOffreId'] = df_offreF['origineOffreId'].astype(str)
df_offreF = pd.merge(df_offreF, df_origine_selection, how='left', left_on='origineOffreId', right_on='origine')
df_offreF = df_offreF.drop(columns=['origineOffreId','origine'])
df_offreF = df_offreF.rename(columns={'id_y': 'origineOffreId'})
df_offreF = df_offreF.rename(columns={'id_x': 'id'})

#QUALIFICATION
df_offreF = pd.merge(df_offreF, df_qualification_selection, how='left', left_on='qualificationId', right_on='qualification')
df_offreF = df_offreF.drop(columns=['qualificationId','qualification'])
df_offreF = df_offreF.rename(columns={'id_y': 'qualificationId'})
df_offreF = df_offreF.rename(columns={'id_x': 'id'})

# Liste des colonnes dans le nouvel ordre souhaité
nouvel_ordre_colonnes = [
    'id',
    'dateCreation',
    'dateActualisation',
    'nombrePostes',
    'salaireLibelle',
    'lieuTravailId',
    'entrepriseId',
    'contratId',
    'qualificationId',
    'origineOffreId'
]
df_offreF = df_offreF[nouvel_ordre_colonnes]

In [28]:
df_offreF.head(1)

,id,dateCreation,dateActualisation,nombrePostes,salaireLibelle,lieuTravailId,entrepriseId,contratId,qualificationId,origineOffreId
0,166MPJT,2023-12-18T21:47:48.000Z,2024-01-06T00:20:45.000Z,1,"Annuel de 32000,00 Euros à 35000,00 Euros sur ...",1,1,1,1,1

## CHARGEMENT DES TABLES

In [29]:
import sqlite3
import pandas as pd
# Connexion à la base de données SQLite
conn = sqlite3.connect('job_mining.db')

# Chargement des tables
df_lieu.to_sql('LieuTravail_Dimension', conn, if_exists='replace', index=False)
df_entreprises.to_sql('Entreprise_Dimension', conn, if_exists='replace', index=False)
df_contrat.to_sql('Contrat_Dimension', conn, if_exists='replace', index=False)
df_origine.to_sql('OrigineOffre_Dimension', conn, if_exists='replace', index=False)
df_qualification.to_sql('Qualification_Dimension', conn, if_exists='replace', index=False)
df_offreF.to_sql('OffresEmploi_Faits', conn, if_exists='replace', index=False)

# Fermer la connexion
conn.close()